#hero {
  height: 100vh;
  
  box-sizing: border-box;

  background-image: url('../assets/img/hero-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  opacity: 0;

  animation: startIn 3s ease forwards;
  
  & .title {
    display: flex;
    margin: 0 auto;
    width: 41rem;
    margin-top: 12rem;

    text-align: center;
    display: grid;
    gap: 2rem;

    
    & h1 {
      opacity: 0;
      font: var(--title-lg);
      animation: startIn 3s ease forwards;
    }

    & p {
      font: var(--body-lg);
      font-weight: 500;
      opacity: 0;
      animation: startIn 3s 600ms ease forwards;
    }
  }
}

@keyframes startIn {
  to {
    opacity: 1;
  }
}